<ion-view view-title="Login">
  <ion-content class="padding">
   <div class="list">
    <div class="item item-divider">Brugernavn</div>
    <label class="item item-input">
    <input type="text" placeholder="Navn">
    </label>
   <div class="item item-divider">Password</div>
   <label class="item item-input">
   <input type="text" placeholder="password ">
   </label>
   </div>  
</div>
<button class="button button-block">
   Login
</button>
      
  </ion-content>
</ion-view>