<ion-view view-title="Dashboard">  
 <ion-content> 
  <div class="card list">
   <div class="item item-divider">
      Velkommen 
      <div class="item item-text-wrap">
      logged ind navn
      </div>
   </div> 
 </div>
 <button class="button button-block icon-right icon ion-arrow-right-a padding">
      Login 
   </button>
   <button class="button button-block icon-right icon ion-arrow-right-a padding">
      Udlån 
   </button>
   <button class="button button-block icon-right icon ion-arrow-right-a padding">
      Status 
   </button>
  </ion-content>
</ion-view>
