<ion-view view-title="Opret bruger">
  <ion-content class="padding">
   <div class="list">
    <div class="item item-divider">Brugernavn</div>
    <label class="item item-input">
    <input type="text" placeholder="Navn">
    </label>
    <div class="item item-divider">EAdania Login</div>
    <label class="item item-input">
   <input type="text" placeholder="eksisterende login">
   </label>
   <div class="item item-divider">Password</div>
   <label class="item item-input">
   <input type="text" placeholder="password ">
   </label>
   </div>  
</div>
<button class="button button-block">
   Opret Bruger
</button>
      
  </ion-content>
</ion-view>
