<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Status" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Login Tab -->
  <ion-tab title="Login" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/login">
    <ion-nav-view name="tab-login"></ion-nav-view>
  </ion-tab>
  <!-- Dashboard Tab -->
  <ion-tab title="Dashboard" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/Dashboard">
    <ion-nav-view name="tab-Dashboard"></ion-nav-view>
  </ion-tab>
  <!-- opret Tab -->
  <ion-tab title="Opret Bruger" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/opret">
    <ion-nav-view name="tab-opret"></ion-nav-view>
  </ion-tab>

</ion-tabs>
